@import '../../assets/sass/sass-assets.scss';

.Header {
	&.container {
		@include break(sm) {
			max-width: none;
		}

		@include break(xs) {
			max-width: none;
		}
	}

	header {
		position: relative;
		width: 100%;
		margin-top: 30px;
		overflow: hidden;
		margin-bottom: 100px;
		// border: 1px solid red;
		// box-sizing: border-box;

		@include break(xs) {
			margin-bottom: 50px;
		}

		.Logo {
			@include break(xs) {
				top: 0px;
				left: 25px;
			}
		}
	}
}
