@import '../../assets/sass/sass-assets.scss';

.Work {
    section {
        margin-top: 30px;
        position: relative;
        overflow: hidden;

        @include break(xs) {
            margin-top: 20px;
        }
    }
}
